nav {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;

  min-height: 350px;

  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  .item {
    color: #333333;
  }
}
